h5{
  margin: 22px 0;
}
table.table{
  color:#8e949a
}
.github{
  margin-right:20px;
}
.loading img{
  position: absolute;
  right: 50%;
  bottom: 11%;
}
#slider{
  margin:13px 0;
}
.black-theme{
  background-color: black;
  color:#8e949a
}
#camera{
  position: absolute;
  left: 81px;
  top: 15px;
}
